<div id="forgot-password-modal" class="modal fade" role="dialog" aria-labelledby="forgotPasswordModal">
  <div class="modal-dialog">
    <div class="modal-content password-reset-modal-content">
      <div>
        <div class="forgotten-password-title">{{i18n "main:forgotPasswordModal.title"}}</div>
        <div class="forgotten-password-description">{{i18n "main:forgotPasswordModal.description"}}</div>
        <hr>
        <form id="form-forgot-password" action="{{@root.meta._links.resetPassword.href}}" method="post">
          <div class="forgot-password-input">
            <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
            <label for="email">{{i18n "main:form.email"}}</label>
            <input id="reset-email-input" type="email" name="email" value="" required>
            <button id="password-reset-submit-btn">{{i18n "main:form.submit"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
