{{#if editable}}
    <div class="row">
        <div class="col-sm-12">
            <div class="text-right promotion-info">
                    <span class="text-uppercase promo-info-text"
                          title="{{i18n "checkout:discountTooltip"}}">{{i18n "checkout:discountPromoInfo"}}
                        <img class="info-icon" src="{{@root.meta.assetsPath}}img/information.png"
                             alt="information icon">
                    </span>
                <form action="{{@root.meta._links.addDiscountCode.href}}" method="post">
                    <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
                    <input id="promo-code" type="text" name="code">
                    {{> form/global-errors errors=content.errors}}
                    <button id="cart-apply-promocode-btn" class="text-uppercase promo-apply-btn">{{i18n
                            "checkout:discountApply"}}</button>
                </form>
            </div>
        </div>
    </div>
{{/if}}
